body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: #333;
}


a {
	text-decoration: none;
	color: #333;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header {
	background-color: #f2f2f2;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav ul {
	display: flex;
	align-items: center;
}

nav li {
	margin: 0 10px;
}


nav a {
	font-size: 18px;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

main {
	padding: 50px;
}

section {
	margin-bottom: 50px;
}

h2 {
	font-size: 32px;
	margin-bottom: 20px;
}

/* Project images grid */
#projects ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 30px;
}

#projects li {
	border: 1px solid #ccc;
	padding: 20px;
}

#projects img {
	width: 100%;
	height: auto;
	object-fit: cover;
	margin-bottom: 10px;
}

#projects h3 {
	font-size: 22px;
	margin: 0;
}

img {
	max-width: 100%;
}

form label {
	display: block;
	margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
	width: 100%;
	padding:10px;
}